@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.H_ib_body {
  padding: 1rem;
  border: black 1px solid;
  position: absolute;
  width: fit-content;
  width: 300px;
  background-color: white;
  border-radius: 1rem;
}

.H_ib_close {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 20%;
  height: 20%;
  max-width: 1rem;
}

.H_ib_content {
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646cff;
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747bff;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media print {
  .divider {
    break-before: page;
  }
  .no-print {
    display: none !important;
  }
  html,
  body {
    height: auto;
  }
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #646cff;
  border-radius: 10rem; /* Customize scrollbar thumb color */
}

.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #747bff;
  cursor: pointer; /* Customize scrollbar thumb hover color */
}

@media (min-width: 375px) {
  /* Base styles to hide the scrollbar */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
}

/* Media query to show the scrollbar on tablet and larger screens */
@media (min-width: 768px) {
  .hide-scrollbar {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: thin; /* Firefox, you can specify a value here */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: block; /* Chrome, Safari, and Edge */
    width: 0.5rem; /* Adjust the width as needed */
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: #646cff;
    border-radius: 10rem; /* Customize scrollbar thumb color */
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #747bff;
    cursor: pointer; /* Customize scrollbar thumb hover color */
  }
}

.a4 {
  width: 210mm;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  width: 80%;
  /* Adjust the width as needed */
  /* Adjust the height as needed*/
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  /* Light gray shade */
}
